@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown > * {
  all: revert;
}

.markdown > *:first-child {
  margin-top: 0px;
}

.markdown ul {
  padding-left: 2rem;
}

.markdown ul > .task-list-item {
  list-style: none;
  margin-left: -20px;
}

.markdown a {
  color: #1d9bf0;
}

.markdown code {
  font-size: 0.875rem !important; /* 14px */
  line-height: 1.25rem !important; /* 20px */
}
